body{
	background:#fff3f3;
	font-family: Verdana ;
	margin: 0;
}
a{
	text-decoration: none;
}
p{
	text-align: justify;
}
header{
		text-align: center;
		background-color: #449d48;
		color: white;
		position: sticky;
		padding: 1px 0 0 0;
		margin: 0;
}
.header{
  display: none;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #b3dde3; 
  z-index: 999;
}
/*Styling for header img*/
	header img{
		width: 70px;
		height:55px;
		float: left;
		border-radius: 60%;
		border: 3px solid #1876f2;
		margin: 10px 2px;
		color: white;
	}
/*Styling for darkMode Toggle*/
button#darkModeToggle {
  padding: 10px 10px;
  font-size: 15px;
  background-color: #449d48;
  color: #000;
  border: none;
  cursor: pointer;
  float: right;
}
.fa-circle-half-stroke{
	font-size: 50px;
}
button#darkModeToggle:hover {
  color: #1876f2;
}

.dark-mode {
  background-color: #000;
  color: white;
}

.dark-mode i {
  color: #fff;
}

.dark-mode button#darkModeToggle {
  background-color: #000;
}

/*Styling for Scroll-menu*/

.scroll-menu{
	background-color: #1876f2;
	overflow: auto;
	white-space: nowrap;
		}
.scroll-menu a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}
.scroll-menu a:hover{
	background-color: #b3dde3;
	color: #000;
}

/*left-sidebar*/
.left-sidebar{
	float: left;
	width: 20%;
	text-align: flex-start;
	background-color: #b3dde3;
	overflow: hidden;
	}
.left-sidebar a{
	display:block;
	color: #000;
	text-align: left;
	padding: 10px;
	text-decoration: none;
}
.left-sidebar a:hover{
	background-color:#1876f2 ;
	color: #fff;

}

.NEXT-BTN{
	margin: 40px 0 10px ;
}
.NEXT-BTN .Preview{
	margin-left: 2%;
}
.NEXT-BTN .Next{
	margin-left: 50%;
}

.NEXT-BTN button{
	background-color: #1876f2;
	padding: 10px 20px;
	border: 2px solid #1876f2;
	color: white;
}
/*main-content*/		
.main-content{
	float: left;
	width: 50%;
	padding: 0 20px;
	overflow: hidden;
}
.gallery-vides iframe{
  width: 100%;
  margin: 10px;
}
/*like dislike share comment action*/
.action {
	 margin-top: 10px ;
   display: flex;
   align-items: center;
}
.action span {
    margin-right: 10px;
    border-radius: 20%;
}
.action span i {
    margin-right: 5px;
}
.dark-mode .action span {
	color: #fff;

}
/*Show and hide styling*/
#Show{
	display: none;
}
.hide{
	float: right;
	border-radius: 50%;
}
.hide:hover{
	background-color: red;
	color: #fff;
}
.hidden{
	display: none;
}
.show{
	padding: 10px;
	background-color:#b3dde3;
}
.show:hover{
	background-color: #1873f2;
	color: #fff;
}
.right-sidebar{
	float: left;
	width: 23%;
	padding: 10px 15px;
	margin: 0px;
}
.container {
  width: 350px;
  margin: 0 auto;
}
.right-sidebar input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;

}
.right-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.right-sidebar li {
  margin: 10px 0;
}
.container {
  position: relative;
}
.dark-mode .fa-magnifying-glass{
	color: #000;
}
.container i.fa-magnifying-glass {
  position: absolute;
  top: 20px;
  left: 10px;
  transform: translateY(-50%);
}

.container input[type="text"] {
  padding-left: 30px; /* Adjust the padding to make room for the icon */
}
.blog-right{
	background-color: #b3dde3;
	flex-basis: 32%;
	margin-top: 0;
}
.blog-right h3{
	color: #fff;
	padding: 7px 0;
	font-size: 16px;
	margin-bottom: 20px;
	text-align: center;
}
.blog-right div{
	display: flex;
	text-align: center;
	justify-content: space-between;
	color: #555;
	padding: 8px;
	box-sizing: border-box;
}
.blog-right a{
	color: #555;
}
.blog-right a:hover{
	color: #fff;
}
.blog-right span:hover{
	color: #fff;
}
.blog-right div:hover {
 background-color:#1876f2 ;
	color: #fff; 
}

.blog-right span {
  margin-left: 10px;
}
.comment-box{
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 50px 0;
	padding: 10px 20px;
}
.comment-box h3{
	text-align: left;
}
.comment-form input, .comment-form textarea{
	width: 100%;
	padding: 10px;
	margin: 15px 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	background: #f0f0f0;
}
.comment-form button{
	margin: 10px 0;
}
/* Footer Styles */
footer {
	width: 99.25%;
	color: white;
	display:inline-block;
	margin: 10px 0 0 0 ;
	background-color: #333333;
  padding: 5px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container a:hover{
	color: #7fcac3;
	border-bottom: 1px solid #1876f2;
}
.social-icons {
  margin-bottom: 5px;
}
.social-icons ul {
  list-style: none;
  padding: 0;
}
.social-icons ul li {
  display: flex;
  align-items: center;
  margin: 17px 10px;
}
.social-icons ul li i{
  margin-right:20px;
}
.social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #1876f2;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  margin-right: 20px; /* Updated right margin */
}
.social-icons ul li {
  margin-bottom: 10px;
  text-align: left;
  margin-right: 10px;
}
#socialLinksList li {
  font-size: 17px;
}
.social-icons ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
}
.social-icons ul li:hover {
  background-color: #1876f2;
  border-radius: 10px;
}
.features ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.features ul li {
  margin-bottom: 20px;
  text-align: center;
}
.features ul li a {
  text-decoration: none;
  color: #fff;
}
.contact h3 {
  margin-bottom: 5px;
  margin-right: 30px;
}
.contact p {
	margin-bottom: 20px;
  margin-right: 10px;
}
.contact a {
	color: #fff;
}

.footer {
	width: 100%;
	background-color: #000;
	margin: 0;
	padding: 0;
}
.footer p{
	text-align: center;
}
.rspeducation-policy  li{
	display: inline-block;
	margin-right: 8px;
	list-style: unset;
}
.rspeducation-policy a{
	color: #d6d8e0;
	border-bottom: 1px solid #fff;
}
.rspeducation-policy a:hover{
	color: #fff;
}
.download-btn{
	display: inline-block;
	background-color: #275efe;
	color: #fff;
	padding: 15px;
	margin-right: 10px;
	margin-bottom: 25px;
	font-size: 20px;
	border-radius: 20px;
}
.download-btn i{
	margin-left: 10px;
	font-size: 20px;
}
.up-arrow {
  display: none; /* Hide the arrow by default */
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #275efe;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  border-radius: 50%;
  z-index: 999;
}
.dark-mode.up-arrow {
	background-color: #275efe;
}
.up-arrow i {
  font-size: inherit;
}
/* Show the arrow when the user scrolls beyond a certain point */
.show-up-arrow {
  display: block;
}
/* 
  ##Device = Desktop, largee screen (portrait)
  ##Screen = B/w 1025px to 1200px
*/

/*   ----------------------------------------------------------------------------------- */
@media (min-width: 1025px) and (max-width: 1200px) {
/*left-sidebar*/
.left-sidebar{
	width: 30%;
}
/*main-content*/
.main-content{
	width: 65%;
}
.right-sidebar{
	width: 60%;
	margin-left: 30%;
}

.NEXT-BTN{
	 margin: 40px 0 5px ;
}
 .NEXT-BTN .Preview{
  margin-left: 2%;
}
.NEXT-BTN .Next{
	 margin-left: 20%;
}
.NEXT-BTN button{
	 background-color: #1876f2;
	 padding: 10px 20px;
	 border: 2px solid #1876f2;
	 color: white;
 }
 footer{
 	width: 99%;
 }
		
		
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

/*   ----------------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1024px) {
	
/*left-sidebar*/
.left-sidebar{
	width: 30%;
}
/*main-content*/
.main-content{
	width: 65%;
}
.right-sidebar{
	width: 60%;
	margin-left: 30%;
}

.NEXT-BTN{
	 margin: 40px 0 5px ;
}
 .NEXT-BTN .Preview{
  margin-left: 2%;
}
.NEXT-BTN .Next{
	 margin-left: 20%;
}
.NEXT-BTN button{
	 background-color: #1876f2;
	 padding: 10px 20px;
	 border: 2px solid #1876f2;
	 color: white;
 }
 footer{
 	width: 99%;
 }
 .download-btn{
	display: inline-block;
	background-color: #275efe;
	color: #fff;
	padding: 15px 10px;
	margin-right: 15px;
	margin-bottom: 20px;
	font-size: 18px;
	border-radius: 20px;
}
.footer-container{
	display: inline-block;
}
.social-icons ul li {
	display: inline-block;
	text-align: center;
}
#socialLinksList li {
  font-size: 0px;
}
.social-icons ul li:hover {
  background-color: none;
  color: #1876f2;
}
.features ul li {
	text-align: center;
}
.contact p{
	text-align: center;
}
}
/*   ----------------------------------------------------------------------------------- */
@media (min-width: 481px) and (max-width: 769px) {
.main-h1{
	display: none;
}
.header{
	display: flex;
}
.header h1 {
 display: block;
  font-size: 28px;
  margin: 10px auto;
  text-align: center;
  padding: 5px;
}
/*Styling for header img*/
	header img{
		width: 50px;
		height: 50px;
}
.fa-circle-half-stroke{
	font-size: 50px;
}
/* Toggle Home icon styles */
.fa-house{
	color: #222;
  font-size: 28px;
  cursor: pointer;
  margin: 20px 20px 10px 50px;
}
/* Toggle menu icon styles */
.fa-bars {
  font-size: 28px;
  cursor: pointer;
  margin: 20px 50px 10px 25px;
  color: #000;
}

/* Toggle menu icon styles */
.fa-times {
  font-size: 33px;
  cursor: pointer;
 margin: 20px 50px 10px 25px;
  color: #000;
}
.menu{
  display: none;
}
/* Active menu styles */
  .menu.active {
   display: block;
 }

/* left-sidebar */
.left-sidebar {
  width: 50%;
  position: absolute;
}

/* container */
.container {
	width: 100%;
  position: static; /* or remove this line if you want the default positioning */
}

/* dark mode */
.dark-mode .fa-magnifying-glass {
  color: #000;
}

/* magnifying glass icon inside container */
.container i.fa-magnifying-glass {
  position: relative;
  top: 10px;
  left: 85%;
  transform: translateY(-50%);
}
.container input[type="text"] {
  padding-left: 20px; /* Adjust the padding to make room for the icon */
}
/*main-content*/
.main-content{
	width: 90%;
	margin: 0 2%;
}
.right-sidebar{
	width: 80%;
	margin: 5%;
}	
.NEXT-BTN{
	 margin: 40px 0 5px ;
}
 .NEXT-BTN .Preview{
  margin-left: 2%;
}
.NEXT-BTN .Next{
	 margin-left: 50%;
 }
 .download-btn{
	display: inline-block;
	background-color: #275efe;
	color: #fff;
	padding: 15px 10px;
	margin-right: 15px;
	margin-bottom: 20px;
	font-size: 18px;
	border-radius: 20px;
}
.footer-container{
	display: inline-block;
}
.social-icons ul li {
	display: inline-block;
	text-align: center;
}
#socialLinksList li {
  font-size: 0px;
}
.social-icons ul li:hover {
  /*background-color: none;*/
  color: #1876f2;
}
.features ul li {
	text-align: center;
}
.contact p{
	text-align: center;
}
 footer{
 	width: 99.10%;
 }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
/*   ----------------------------------------------------------------------------------- */
@media (min-width: 320px) and (max-width: 480px) {
.main-h1{
	display: none;
}
header h1{
	font-size: 20px;
}
.header{
	display: flex;
}
.header h1 {
 display: block;
  font-size: 25px;
  margin: 10px auto;
  text-align: center;
  padding: 5px;
}
/*Styling for header img*/
	header img{
		width: 30px;
		height: 30px;
		margin: 5px 2px;
}
.fa-circle-half-stroke{
	font-size: 30px;
}
/* Toggle Home icon styles */
.fa-house{
	color: #222;
  font-size: 20px;
  cursor: pointer;
  margin: 20px 25px 10px 25px;
}

/* Toggle menu icon styles */
.fa-bars {
  font-size: 20px;
  cursor: pointer;
  margin: 20px 25px 10px 25px;
  color: #000;
}
/* Toggle menu icon styles */
.fa-times {
  font-size: 24px;
  cursor: pointer;
  margin: 20px 25px 10px 25px;
  color: #000;
}
.menu{
  display: none;
}
/* Active menu styles */
  .menu.active {
   display: block;
   margin-left: 5px;
   font-size: 15px;
 }

/*left-sidebar*/
.left-sidebar{
	width: 60%;
	position: absolute;
}
/* container */
.container {
	width: 100%;
  position: static; /* or remove this line if you want the default positioning */
}

/* dark mode */
.dark-mode .fa-magnifying-glass {
  color: #000;
}

/* magnifying glass icon inside container */
.container i.fa-magnifying-glass {
  position: relative;
  top: 10px;
  left: 87%;
  transform: translateY(-50%);
}
.container input[type="text"] {
  padding-left: 20px; /* Adjust the padding to make room for the icon */
}
/*main-content*/
.main-content{
	width: 90%;
	margin: 0 2%;
}
.action-title{

	display: none;
}
.right-sidebar{
	width: 80%;
	margin-left: 5%;
}				
.NEXT-BTN{
	 margin: 40px 0 5px ;
}
 .NEXT-BTN .Preview{
  margin-left: 2%;
}
.NEXT-BTN .Next{
	 margin-left: 30%;
}
.footer-container{
	display: inline-block;
}
.social-icons ul li {
	display: inline-block;
	text-align: center;
}
#socialLinksList li {
  font-size: 0px;
}
.features ul li {
	text-align: center;
}
.contact p{
	text-align: center;
}
 footer{
 	width: 97.10%;
 }
}
/*   ----------------------------------------------------------------------------------- */
/* Dark mode */
.dark-mode {
	background: #121212;
	color: #ffffff;
}

.dark-mode a {
	color: #ffffff;
}
.dark-mode header {
	background-color: #121212;
}

.dark-mode .header {
	background-color: #333333;
}
.dark-mode .scroll-menu {
	background-color: #333333;
	color: #ffffff;
}

.dark-mode .scroll-menu a {
	background-color: #333333;
	color: #ffffff;
}

.dark-mode .left-sidebar {
	background-color: #333333;
}

.dark-mode .left-sidebar a {
	color: #ffffff;
}

.dark-mode .NEXT-BTN button {
	background-color: #333333;
	border-color: #333333;
}

.dark-mode .blog-right {
	background-color: #333333;
}

.dark-mode .blog-right h3 {
	color: #ffffff;
}

.dark-mode .blog-right div {
	color: #999999;
}
.dark-mode .blog-right div:hover {
	color: #ffffff;
	background-color: #000000;
}
.dark-mode .blog-right a {
	color: #999999;
}
.dark-mode .blog-right div a:hover {
	color: #ffffff;
}
.dark-mode .comment-box {
	background-color: #222222;
	border-color: #555555;
}

.dark-mode .comment-box h3 {
	color: #ffffff;
}

.dark-mode .comment-form input,
.dark-mode .comment-form textarea {
	background: #111111;
	border-color: #555555;
	color: #ffffff;
}

.dark-mode .comment-form button {
	background-color: #333333;
	border-color: #333333;
	color: #ffffff;
}

.dark-mode .footer {
	background-color: #111111;
	color: #ffffff;
}
.dark-mode footer {
	background-color: #333333;
	color: #ffffff;
}

/* Media Queries for Dark Mode */
@media (min-width: 720px) and (max-width: 1075px) {
	.dark-mode .left-sidebar {
		background-color: #222222;
	}

	.dark-mode .right-sidebar {
		background-color: #222222;
	}

	.dark-mode .blog-right {
		background-color: #222222;
	}
}

@media (min-width: 480px) and (max-width: 800px) {
	.dark-mode .left-sidebar {
		background-color: #222222;
	}

	.dark-mode .main-content {
		background-color: #111111;
	}

	.dark-mode .right-sidebar {
		background-color: #222222;
	}
	.dark-mode .fa-house {
		color: #fff;
	}
	.dark-mode .fa-bars {
		color: #fff;
	}
	.dark-mode .fa-times {
		color: #fff;
	}

	.dark-mode .footer {
		background-color: #222222;
	}
}

@media (min-width: 140px) and (max-width: 500px) {
	.dark-mode .left-sidebar {
		background-color: #222222;
	}

	.dark-mode .main-content {
		background-color: #111111;
	}

	.dark-mode .right-sidebar {
		background-color: #222222;
	}
	.dark-mode .fa-bars {
		color: #fff;
	}

	.dark-mode .footer {
		background-color: #222222;
	}
}
